.main{
    
    display:grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr  1fr 1fr;
    grid-gap:10px;
    align-items: stretch;
    
    background-color:rgba(251, 80, 80, 0.17);
  }
  
   .header{
    border-radius: 10px;
    border:2px solid black;
    margin: 50px;
    background-color:rgba(80, 163, 251, 0.38);
    font-size:20px;
    align-items:stretch;
   
  }
  h1{
    color: rgb(170, 105, 8);
    font-size: 35px;
    
  }
  
  .content{
    flex:1;
    border-radius: 10px;
    border:2px solid black;
    margin: 50px;
    background-color:rgba(80, 163, 251, 0.38);
    font-size:20px;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .imageContent:hover {filter:grayscale(100%);
    
    
  }
  .imageContent{
    width: 100%;
    height: 100%;
        
  }
 
 
 
  .contenedor2{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px;
    align-items: stretch;
    
  }
  

  .contenedor2> #contentFirst.imageContent{
    align-items: stretch;
    border-image-outset: 10px;
    width: 100%;
  }
  .contenedor2> #contentFirst{
    border:5px solid black;
    background-color:rgba(193, 206, 228, 0.54);
    padding:0px;
    border-radius: 10px;
       margin: 5px;
       
      }
     .contenedor2> #contentSecond{
      border:5px solid black;
      background-color:rgba(193, 206, 228, 0.54);
      padding:0px;
      border-radius: 10px;
      margin: 5px;
   
   }  
   .contenedor2> #contentThirth{
    border:5px solid black;
    background-color:rgba(193, 206, 228, 0.54);
    padding:0px;
    border-radius: 10px;
    margin: 5px;
    
   }  
   .footer{
    flex:1;
    border:2px solid black;
    margin: 50px;
    background-color:rgba(80, 163, 251, 0.38);
    font-size:20px;
    flex-direction: column;
      }
  .a.footer1{
        color:rgb(219, 17, 17);
        border:2px solid black;
        font-size: 25;
    
      }