.main{
    display:flex;
    justify-content:stretch;
    border:2px solid black;
    
    background-color:rgba(251, 80, 80, 0.17);
  }
  
   .header{
    flex:1;
    border-radius: 10px;
    border:2px solid black;
    margin: 50px;
    background-color:rgba(80, 163, 251, 0.38);
    font-size:20px;
  }
  h1{
    color: rgb(31, 4, 63);
    font-size: 35px;
  }